
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link rel="stylesheet" href="~/StyleSheet.css" />
<div>
    <h2 style="font-family:Algerian;color:cornflowerblue"> Insurance Features</h2>
</div>
<div class="column">
    <div class="card">
        <img src="~/Images/Lifeinsure.jpg" style="width:100%">
        <h1 style="color:crimson">Life Insurance</h1>
        <p>
            *Key Features and Highlights of LIC Jeevan Lakshya<br />
            *The Jeevan Lakshya plan’s salient features can be mentioned as follows<br />
            *Minimum - Rs. 1,00,000<br />
            *Multiples - The basic sum assured can be in multiples of Rs. 10,000 only<br />
            *Policy term - 13 to 25 years<br />
            *Premium payment term - The premium paying term is 3 years less than the policy term,<br />
            irrespective of whatever term the policy is for<br />
            *Age of entry<br />
            *Minimum - 18 years (completed)<br />
            *Maximum - 50 years (nearest birthday)<br />
            *Maximum maturity age - 65 years (nearest birthday)<br />
        </p>
        <p><button>Buy</button></p>
    </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Images/healthinsure.jpg" style="width:100%">
            <h1 style="color:crimson">Health Insurance</h1>
            <p>
                *The main purpose of medical insurance is to receive the best medical care without any strain on your finances<br />
                *Health insurance plans offer protection against high medical costs<br />
                *It covers hospitalization expenses, day care procedures, domiciliary expenses, and ambulance charges, besides many others.<br />
                *Age of entry<br />
                *Minimum - 18 years (completed)<br />
                *Maximum - 50 years (nearest birthday)<br />
                *Maximum maturity age - 65 years (nearest birthday)<br />
            </p>
            <p><button>Buy</button></p>
        </div>
    </div>
   
  
   

